# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/dist

# secrets
.DS_Store
.env.js
.env.development.js
.env.test.js
.env.production.js

npm-debug.log*
yarn-debug.log*
yarn-error.log*
