/* Custom main calendar view */
.fc-theme-standard td,
.fc-theme-standard th
  border 1px solid #b8c1cc

th.fc-col-header-cell.fc-day
  border-left 0

a.fc-timegrid-axis-cushion
  color #243b55
  text-align center
  font-family Roboto
  font-size 12.507px
  font-style normal
  font-weight 400
  line-height 18.76px
  letter-spacing 0.391px

/* Slot label visibility transitions */
.fc-timegrid-slot-label
  transition opacity 0.3s ease-in-out

.fc-daygrid-day-top small
  color #8c9caf
  font-size 14px
  font-style normal
  font-weight 500
  line-height 20px
  letter-spacing 0.25px
  font-family "Inter", sans-serif

.fc-daygrid-day-top .fc-daygrid-day-number,
span.fc-daygrid-day-number
  color #243b55
  margin 0 6px 0 0
  font-family Roboto
  font-size 28px
  font-style normal
  font-weight 400
  line-height 36px
  position relative
  width 48px
  line-height 39px

.fc-daygrid-day-frame .fc-daygrid-day-top .fc-daygrid-day-number
  font-family Inter
  font-size 12px
  font-weight 500
  line-height 16px
  width 100%
  text-align  center
  padding 0

.fc-daygrid-day-frame span.fc-daygrid-day-number:after
  width 25px
  height 25px
  top -6px
  left -6px

.fc-daygrid-day-top .fc-daygrid-day-number:after,
span.fc-daygrid-day-number:after
  content ""
  z-index -1
  border-radius 50%
  width 45px
  height 45px
  position absolute
  top 1px
  left 1px
  transition background-color 0.3s ease

span.fc-daygrid-day-number.current-date
  color #fff

span.fc-daygrid-day-number.current-date:after
  background-color #f67e35

td.fc-timegrid-slot.fc-timegrid-slot-label.fc-scrollgrid-shrink,
td.fc-timegrid-slot.fc-timegrid-slot-label.fc-timegrid-slot-minor
  border 0

th.fc-timegrid-axis.fc-scrollgrid-shrink
  border 0
  border-right 1px solid #b8c1cc

.fc .fc-timegrid-axis-cushion
  min-width 80px
  max-width 80px
  padding 0
  text-align left
  font-family Roboto
  font-size 12.507px
  font-style normal
  font-weight 400
  line-height 18.76px
  padding 0 0 0 10px

.fc .fc-timegrid-divider
  display none
  height 0

.fc-timegrid-slot-label-cushion
  color #aea9b1
  font-family Roboto
  font-size 14px
  font-style normal
  font-weight 400
  line-height 20px
  letter-spacing 0.25px

th.fc-col-header-cell.fc-day
  border-right 0
  border-bottom 0

.fc .fc-scrollgrid
  border 0

.fc .fc-timegrid-slot-label
  justify-content flex-end

.fc .fc-timegrid-slot-label .fc-timegrid-slot-label-frame
  position relative
  transform translate(-15px, -12px)

/* .fc tbody tr:first-of-type .fc-timegrid-slot-label .fc-timegrid-slot-label-frame
  display none */

.fc .fc-timegrid-slot-label .fc-timegrid-slot-label-frame::after
  content ""
  z-index -1
  background-color #b8c1cc
  width 10px
  height 1px
  position absolute
  top 9.5px
  right -15px

.fc .fc-timegrid-col.fc-day-today,
.fc .fc-daygrid-day.fc-day-today
  background-color #fff

.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events
  min-height 36px

.fc .fc-daygrid-body-natural .fc-daygrid-day-events
  margin-bottom 0

.fc .fc-timegrid-now-indicator-line
  z-index 5
  border 0 solid #f67e35
  border-top-width 2px
  position absolute
  left 0
  right 0

.fc .fc-timegrid-now-indicator-line::after
  content ""
  z-index 5
  background-color #f67e35
  border-radius 50%
  width 10px
  height 10px
  position absolute
  top -6px
  left -5px

.fc .fc-timegrid-now-indicator-arrow
  display block !important
  width auto
  height auto
  position relative
  border 0

.fc .fc-timegrid-now-indicator-arrow::before,
.now-time-label
  content attr(data-time)
  color #f67e35
  white-space nowrap
  font-family Roboto, sans-serif
  font-weight 600
  position absolute
  top -2px
  left 25px
  font-size 14px
  letter-spacing 0.25px

.timegrid-slot-label-hidden
  opacity 0.2

.fc-day-today .fc-timegrid-now-indicator-container
  overflow unset

.fc .fc-timegrid-slot
  height auto
  min-height 20px !important

.fc .fc-timegrid-slot-label
  display flex
  align-items flex-start
  padding-top 2px
  height 100%

tr:has(> td.fc-timegrid-divider.fc-cell-shaded)
  display none

.fc .fc-scrollgrid-section td
  border-bottom 0

.fc .fc-scrollgrid-section td .fc-daygrid-day-frame
  border-bottom 1px solid #b8c1cc

th.fc-col-header-cell.fc-day
  cursor pointer

th.fc-col-header-cell.fc-day:hover .fc-daygrid-day-number:not(.current-date)::after
  background-color #b8c1cc56

/* Hover effects for month view using CSS */
.fc-daygrid-day:hover
  background-color #b8c1cc1a !important
  transition background-color 0.3s ease

/* Hover effects for week and day views using JavaScript */
.hoverable-day-cell
  transition background-color 0.3s ease

.hour-highlight
  transition background-color 0.3s ease
  background-color #b8c1cc1a !important
  position absolute
  left 0
  right 0
  pointer-events none
  z-index 1

.fc-timegrid-slot-label
  background-color #fff !important

thead .fc-scroller,
tbody > tr.fc-scrollgrid-section:first-of-type .fc-scroller
  overflow hidden !important

.navigation-controls
  margin-right 40px

.fc .fc-timegrid-slot-minor 
  border-top-style: none
